
.header{
    border: solid 1px green;
    display:flex;
    gap: 100px;
    background-color: green;
    color: aliceblue;
    

}
.topnav{
    display: flex;
     justify-content: center;
    align-content: center;
}

.navbar{
    display: flex;
    gap: 60px;
    align-content: center;

}
#headers{

    

}
.image{
display: flex;
}

.icons{
    width: 20px;
}
button{
    background-color: green;
    color: antiquewhite;
    border-radius: 6px;
}
.summ{
    display: flex;
    gap: 350px;
}
#pic1{
    width: 350px;
    height: 200px;
}
#end{
    align-items: end;

}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.second{
    display: flex;
    gap: 350px;
}
.input{
    width: 300px;

}
.blog{
    display: flex;
    flex: auto auto auto auto;
}
#hd{
    align-content: center;
}
.foot{
    display: flex;
    gap: 80px;
}
.imgz{
    display: flex;
    gap: 130px;
}
.pic{
    width: 400px;
  border-radius: 20px;
}
.in{
    width: 100px;
    
}

.featur{



}
.big{
    display: flex;
}

.amazing{
    display: flex;
}
@media screen and (max-width: 600px) {
    header, .topnav, .navbar, .summ, .second, .foot, .imgz, .featur, .amazing {
        flex-direction: column;
    }

    .summ, .second, .foot, .imgz {
        gap: 20px; 
    }

    .pic{
        width: 100px;
    }
    .in{
        width: 70px;
        height: 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
   
    header, .topnav, .navbar, .summ, .second, .foot, .imgz, .featur, .amazing {
        flex-direction: row;
    }

    .summ, .second, .foot, .imgz {
        gap: 40px;}

    .pic {
        width: 100px;
    }
    .blog{
     flex-wrap: wrap;
    }
}

@media screen and (min-width: 1025px) {

    header, .topnav, .navbar, .summ, .second, .foot, .imgz, .featur, .amazing {
        flex-direction: row;
    }

    .summ, .second, .foot, .imgz {
        gap: 60px; 
    }

    .pic , .in
    {
        width: 100px;
    }
}
